.row {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.row h2 {
  color: rgb(39, 144, 185);
}
.details {
  font-weight: bolder;
}
.details span {
  margin-left: 20px;
}
@media (max-width: 777px) {
  .row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
}
